/* Selector */
* {
  box-sizing: border-box;
}
:root {
  --primary: blue;
  --black: darkgrey;
}

body {
  background-color: rgb(206, 197, 202);
  font-family: sans-serif, Arial, Helvetica;
  font-size: 112, 5%;
  line-height: 1.4;
  margin: 0;
  /*color: var(--primary);*/
}

input,
button,
textarea {
  font-size: inherit;
}

a {
  text-decoration: none;
  border-bottom: 2px dotted;
}

h1 {
  text-align: center;
}

.page1 {
  padding: 10px;
  background: rgb(226, 176, 39);
}

.bild1 {
  width: 100%;
  height: auto;
}
.bild2 {
  margin-left: 20%;
  margin-right: 20%;
  width: 50%;
  height: auto;
}
.button {
  background-color: rgb(142, 172, 238);
  border-radius: 5px;
  box-shadow: 1px 2px 3px #808080;
  border-bottom: none;
  margin: 5px;
  padding: 5px;
  line-height: 2;
}

.s1 {
  display: grid;
  float: left;
  width: 48%;
  margin-left: 2%;
  justify-content: center;
  border: solid 1px black;
}

.s2 {
  display: grid;
  float: left;
  width: 48%;
  margin-left: 2%;
  justify-content: center;
  border: solid 1px black;
}

.s3 {
  display: grid;
  justify-content: center;
  border: solid 1px black;
}

.s4 {
  display: grid;
  text-align: center;
  border: solid 1px black;
  margin-left: 20%;
  margin-right: 20%;
}

.s5 {
  display: grid;
  margin-left: 5px;
  justify-content: center;
  border: solid 1px black;
}

.s6 {
  display: grid;
  margin-left: 5px;
  justify-content: center;
  border: solid 1px black;
}

footer {
  display: grid;
  text-align: center;
}
