/* Selector */
* {
  box-sizing: border-box;
}

body {
  background-color: hotpink;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 112, 5%;
  line-height: 1.4;
  /*color: var(--primary);*/
}

input,
button,
textarea {
  font-size: inherit;
}

:root {
  --primary: blue;
  --black: darkgrey;
}

a {
  text-decoration: none;
  border-bottom: 2px dotted;
}

.page1 {
  padding: 20px;
  background: greenyellow;
}

.page-main {
  display: grid;
  grid-gap: 40px;
  place-items: center;
}

.bild1 {
  width: 100%;
  height: auto;
}
